
@font-face{
    font-family:"Gowun";
    src:url("./fonts/GowunBatang-Bold.ttf");
}

*{
    padding:0;margin:0;
    color:white;
    font-family: 'Gowun';
    /* background-color:gray; */
}

.wrap{
    width: 100%;
    height:100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./img/cafe.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
}

.header{
    height:100px;
}

.login{
    float: right;
    text-align: center;
    padding: 30px 20px 0 0;
}

.logo{
    width:80px;
    height:80px;
}

.search{
    text-align: center;
    padding-top:250px;
}

.searchBar{
    width:600px;
    height:30px;
    background-color: rgb(255, 242, 242);
    color: black;
    border-radius: 15px;
    text-align: center;
    margin:10px auto;
    padding: 7px 0 0 0;
    box-shadow: 1px 1px 2px 2px rgb(32, 32, 32);
}

.nav{
    position: absolute;
    right: 50px;
    top:50%;
}

.nav1{
    width:20px;
    height:20px;
    background-color: rgb(221,188,120);
    border-radius: 20px;
    border: 2px solid rgb(110,94,60);
    box-shadow: 4px 4px rgba(110,94,60, 0.078) inset;
    margin-bottom: 5px;
}

.nav1:hover{
    background-color: rgb(110,94,60);
}

.nav2, .nav3{
    width:20px;
    height:20px;
    border-radius: 20px;
    border: 2px solid rgb(110,94,60);
    background-color: rgba(251,248,241);
    box-shadow: 2px 3px rgba(200,198,192, 0.2) inset;
    margin-bottom: 5px;
}

.nav2:hover, .nav3:hover{
    background-color: rgba(200,198,192);
}

.nav2:active, .nav3:active{
    background-color: rgb(110,94,60);
}